.sentGwrapper{
    background-color:lightgrey;
    width:800px;
    height:500px;
    border:solid 50px tomato;
    position:absolute;
    top:400px;
    left:425px;
    z-index:1; /*this brings the object forward*/
}

.sentGdisplay{
    background-color:white;
    width:600px;
    height:150px;
    position:absolute;
    top:50px;
    left:100px;
}

.sentGdisplay h1{
    font-family:"arial";
    margin-top:50px;
    text-align:center;
}

.sentGbuttonG{
    user-select:none;
    background:linear-gradient(to bottom right, white, lightgrey);
    width:100px;
    height:100px;
    border:solid 5px darkgrey;
    border-radius:100px;
    position:absolute;
    top:350px;
    left:550px;
}

.sentGbuttonG:active{
    background:linear-gradient(to bottom right, lightgrey, white);
}

.sentGbuttonG:hover{
    cursor:pointer;
}

.sentGbuttonC{
    background:linear-gradient(to bottom right, white, lightgrey);
    width:100px;
    height:100px;
    border:solid 5px darkgrey;
    border-radius:100px;
    position:absolute;
    top:350px;
    left:150px;
}

.sentGbuttonC:active{
    background:linear-gradient(to bottom right, lightgrey, white);
}

.sentGbuttonC:hover{
    cursor:pointer;
}

.textwrapper{
    font-family:"Trebuchet MS";
    background-color:white;
    position:absolute;
    top:200px;
    left:250px;
    width:1250px;
    height:3200px;
    box-shadow: 0px 0px 20px darkgrey;
}

.textwrapper h1{                  /*<---this is a subpart of .textwrapper div, applied to any <h1> tag under .textwrapper div*/
    display:flex;
    justify-content:center;
    padding:0px;
}

.textwrapper h2{
    display:flex;
    justify-content:center;
    padding:0px;
    color:lightgrey;
}

.textwrapperText{
    position:absolute;
    top:850px;
    margin: 0 15px 0 15px;
    font-size:20px;
}

.footerbarwrapper{
    background:linear-gradient(lightblue, #2CB0E0);
    width:2000px;
    height:200px;
    position:absolute;
    bottom:-3500px;
    left:-10px;
    z-index:0;
}

.footerbarwrapper p{
    font-family:"Trebuchet MS";
    color:black;
    display:flex;
    justify-content:center;
    margin-left:-250px;
}