body{
    background-color:lightblue;
    position:absolute;
    overflow-x:hidden;
}

.wrapperheading{
    background-color:#535FA8;
    width:1550px;
    height:150px;
    position:absolute;
    top: -10px;
    left:-10px;
}

.wrapperheadingBar1{
    background-color:black;
    width:870px;
    height:20px;
    position:absolute;
    top:85px;
    left:650px;
}

.wrapperheadingBar2{
    background-color:black;
    width:870px;
    height:20px;
    position:absolute;
    top:0px;
    left:650px;
}

.wrapperheading p{
    font-family:Helvetica;
    font-size:20px;
    font-weight:lighter;
    color:#AFE3D2;
    font-style:italic;
    position:absolute;
    top:13%;
    left:50%;
    text-shadow: 1px 1px 0 #1C9494;
}

.topheading{
    background-color:black;
    width:650px;
    height:100px;
    position:absolute;
    top:2px;
    float:left;
    box-shadow:2px 2px 10px #4A6589;
}

.topheading img{
    position:absolute;
    top:30px;
    left:50px;
}

.topheadingtext{
    font-family:Arial;
    position:absolute;
    top:-25%;
    padding-top:10px;
}

ul{
    background-color:#2D3C9F;
    width:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:absolute;
    top:101px;
}

li{ /*this is the list format*/
    float:left; /* This works as in line */
}

li a{ /*this is the list of individual link formats*/
    display:block;
    color:white;
    font-family:Helvetica;
    text-align:center;
    padding:10px 100px;
    text-decoration:none;
}

li a:hover:not(.active){
    color:#96A3F4;
}

li a:active{
    background-color:#6075CA;
}

li a.active{
    background-color:#6075CA;
    color:black;
}

.barborder{
    background-color:#535FA8;
    width:1550px;
    height:20px;
    position:absolute;
    top:139px;
}

.sidebarwrapper{
    background-color:lightblue;
    border:solid 3px white;
    width:240px;
    height:5000px;
    position:fixed;
    padding-top:200px;
    top:-10px;
    left:5px;
    font-family:"Verdana";
    list-style:none;
    text-align:center;
    z-index:-1;
}

.sidebarwrapper h3{
    text-decoration:underline overline;
    font-size:20px;
}

.sidebarwrapper a{
    font-size:20px;
    display:flex;
    padding-left:10px;
    justify-content:flex-start;
    text-decoration:none;
    color:black;
}

.sidebarwrapper a:hover{
    margin:0 0 0 20px;
    background:linear-gradient(to right, lightblue, #46b5f4);
    border-radius:10px;
}


/* Put on Seperate Site .css file

.textwrapper{
    font-family:"Trebuchet MS";
    background-color:white;
    position:absolute;
    top:200px;
    left:250px;
    width:1250px;
    height:1000px;
    box-shadow: 0px 0px 20px darkgrey;
}


.textwrapper h1{                  <---this is a subpart of .textwrapper div, applied to any <h1> tag under .textwrapper div
    display:flex;
    justify-content:center;
    padding:20px;
}

.textwrapper h2{
    display:flex;
    justify-content:center;
    padding:0px;
    color:lightgrey;
}

.textwrapper b{
    display:flex;
    margin:10px;
    position:absolute;
    top:600px;
}

.textwrapper p{
    display:flex;
    margin:10px;
    position:absolute;
    top:620px;
}
*/