body{
    background-color:lightyellow;
    position:absolute;
}

.wrapperheading{
    background-color: green;
    width:1550px;
    height:150px;
    position:absolute;
    top: -10px;
    left:-10px;
}

.topheading{
    background-color:lightgreen;
    border:3px solid lightgreen;
    width:750px;
    height:50px;
    position:absolute;
    top:10px;
    right:775px;
    box-shadow:2px 2px 10px darkgreen;
}

.topheadingtext{
    font-family:Arial;
    position:absolute;
    top:-25%;
}

ul{
    background:linear-gradient(lightgrey,darkgrey);
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:absolute;
    top:101px;
}

li{ /*this is the list format*/
    float:left; /* This works as in line */
}

li a{ /*this is the list of individual link formats*/
    display:block;
    color:white;
    font-family:Helvetica;
    text-align:center;
    padding:10px 100px;
    text-decoration:none;
}

li a:hover:not(.active){
    color:darkblue;
}

li a:active{
    background:linear-gradient(darkgrey, lightgrey);
}

li a.active{
    background:linear-gradient(white,lightgrey);
    color:black;
}

.barborder{
    background-color:gray;
    width:1550px;
    height:20px;
    position:absolute;
    top:139px;
}

.sidebarwrapper{
    background:radial-gradient(circle, white, lightgrey);
    border:solid 3px white;
    width:240px;
    height:500px;
    position:absolute;
    top:149px;
    left:-10px;
    font-family:"Verdana";
    font-size:20px;
    list-style:none;
    text-align:center;
}

.sidebarwrapper a{
    display:flex;
    justify-content:flex-start;
    text-decoration:none;
    color:black;
}

.sidebarwrapper a:hover{
    margin:0 0 0 20px;
    background-color:lightgrey;
}





/* Put on Seperate Site .css file

.textwrapper{
    font-family:"Trebuchet MS";
    background-color:white;
    position:absolute;
    top:200px;
    left:250px;
    width:1250px;
    height:1000px;
    box-shadow: 0px 0px 20px darkgrey;
}


.textwrapper h1{                  <---this is a subpart of .textwrapper div, applied to any <h1> tag under .textwrapper div
    display:flex;
    justify-content:center;
    padding:20px;
}

.textwrapper h2{
    display:flex;
    justify-content:center;
    padding:0px;
    color:lightgrey;
}

.textwrapper b{
    display:flex;
    margin:10px;
    position:absolute;
    top:600px;
}

.textwrapper p{
    display:flex;
    margin:10px;
    position:absolute;
    top:620px;
}
*/